#despre.r3-row-padding-id
div.r3-row-padding
  .r3-third
    p Apicultura #[b Zumzet] este creata din povesti, din pasiunea apicultorilor care le genereaza si din convingerea ca in comunitate, la fel ca si in stup, cultivarea unei pasiuni aduce multe beneficii.
  .r3-third
    p Sustinem apicultorii care produc miere de calitate sa dea valoarea potrivita muncii lor, incurajandu-i sa participe la targuri si piete noi unde sa isi spuna povestea.
  .r3-third
    p Ii aducem impreuna pe cei cu experienta si pe cei care doresc sa devina crescatori si iubitori de albine. Si credem cu tarie ca asa ne vom bucura de ceea ce facem.