doctype html
html
  block cool-config
  head
    title=SiteTitle
    meta(name="description", content=MetaDescription)
    meta(name="keywords", content=Keywords)
    meta(name="fragment" content="!")
    <!-- responsive design -->
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon" type="image/png" href="/_asset/favicon/favicon.png")
  body
    block awesome-content