#navigation
nav.navigation
  a.logo-link(href="/#")
    img(src="/asset/image/zumzet-logo.svg", width="180px", height="113px")
  a.menu-links(href="#despre") DESPRE
  a.menu-links(href="#contact") CONTACT
