@media (min-width: 768px) {
  div.landing-page {
  min-height: calc(100% - 113px);
  margin-top: 113px;
}

  .menu-links,
  .logo-link {
    flex-basis: auto;
  }

  .menu-links:last-child {
    order: 2;
  }

  .logo-link {
    order: 1;
  }

  .navigation {
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .jump-to {
    top: -113px;
  }
}

