-
  var cta = "Apicultura Zumzet"
  var tagline = "Totul despre ce isi propune Zumzet intr-o propozitie sau fraza scurta."
div#navigation
.navigation
  .navigation__wrapper
    nav.menu
      a.menu(href="#despre") Despre
      a.menu(href="#contact") Contact



div#landing-page
div.landing-page
  .landing-page__wrapper
    h1.landing-page__cta=cta
    h2.landing-page__tagline=tagline
    .landing-page__button
      a.button(href="/#despre") Afla mai multe!
      
