-
  var cta = "Apicultura ZUMZET"
  var tagline = "produs românesc"
div#navigation
.navigation
  .navigation__wrapper
    nav.menu-components-mobile
      .menu-nav
          .menu-logo
            a.logo-link(href="/")
              img(src="/asset/image/zumzet-logo.svg", width="180px", height="113px")
          .menu-below-logo
            a.menu-links(href="#despre") DESPRE
            a.menu-links(href="#contact") CONTACT

div#landing-page
div.landing-page
  .landing-page__wrapper
    h1.landing-page__cta=cta
    h2.landing-page__tagline=tagline
    .landing-page__button
      a.button(href="/#despre") Aflã mai multe!
      
