.footer-links
  #contact.jump-to
  .footer-links-wrapper
    .contact-links-icon
      p.contact-menu Contact
      hr
      p 
        span(class="zumzet_icon--location")  Râmnicu Vâlcea, România
      p  
        span(class="zumzet_icon--envelop")  info@apicultura-zumzet.ro
    .contact-links-text
      p &copy; 2018 ZUMZET
      p Design by #[a.design-by(href="https://github.com/JestVA", target="_blank") JestVA] 
