#contact.footer-links
  .footer-links
    .footer-links-wrapper
      .contact-links-icon
        p Contact
        p 
          span(class="zumzet_icon--location")  Râmnicu Vâlcea, România
        p  
          span(class="zumzet_icon--envelop")  contact@apicultura-zumzet.ro
      .contact-links-text
        p &copy; 2018 ZUMZET
        p Design by #[a(href="https://github.com/JestVA") JestVA] 
