#contact.footer-links
  .footer-links
    .footer-links-wrapper
      .contact-links-icon
        p.contact-menu Contact
        p 
          span(class="zumzet_icon--location")  Râmnicu Vâlcea, România
        p  
          span(class="zumzet_icon--envelop")  contact@apicultura-zumzet.ro
      .contact-links-text
        p &copy; 2018 ZUMZET
        p Design by #[a.design-by(href="https://github.com/JestVA", target="_blank") JestVA] 
