#contact.footer-links
  .footer-links
    .footer-links-wrapper
      .contact-links-icon
        p Contact
        p 
          span(class="zumzet_icon--home3") Râmnicu Vâlcea, România
        p  
          span(class="zumzet_icon--envelop") Contact
      .contact-links-text
