extends _component/layout/layout
block cool-config
  -
    var SiteTitle = 'Apicultura Zumzet'
    var MetaDescription = 'Proiecte sustinute de Zumzet'
    var Keywords = 'apicultura, miere, albine, zumzet'
block awesome-content
  include _component/navigation/navigation
  include _component/landing-page/landing-page
  include _component/main-content/main-content
  include _component/produsele-noastre/produsele-noastre
  include _component/footer/footer
