extends _component/layout/page
block main-page
  -
    var SiteTitle = 'Apicultura Zumzet'
    var MetaDescription = 'Descriere SEO pentru ZUMZET'
    var Keywords = 'apicultura, miere, zumzet'
block zumzet-content
