extends _component/layout/layout
block cool-config
  -
    var SiteTitle = 'Apicultura Zumzet'
    var MetaDescription = 'Proiecte sustinute de Zumzet'
    var Keywords = 'apicultura, miere, albine, zumzet'
block awesome-content
  include _component/landing-page/landing-page
