extends _component/layout/layout
block cool-config
  -
    var SiteTitle = 'Apicultura Zumzet - Miere facuta de albine, nu de noi.'
    var MetaDescription = 'Apicultura Zumzet crede in produse romanesti care spun o poveste. Mierea ZUMZET este un astfel de produs. Din generatie in generatie, lasam albinele sa faca ce stiu ele mai bine iar secretul nostru este mai mult despre ceea ce nu facem si nu punem in miere. Pentru ca tu sa te poti bucura de ZUMZET.'
    var Keywords = 'apicultura, miere, albine, zumzet'
block awesome-content
  include _component/landing-page/landing-page
  include _component/main-content/main-content
  include _component/produsele-noastre/produsele-noastre
  include _component/footer/footer
  include _component/navigation/navigation
